<!DOCTYPE html>
<html>
    <head>
        <title>Address - Add</title>
    </head>
    <body>
        <h1>Add New Address</h1>
        <form action="/address/insert" method="get">
            Address Street: <input name="street" type="text" />
            Address Zip Code: <input name="zip_code" type="text" />
            <br />
            <input type="submit" />

        </form>

    </body>
</html>